input[type="text"]{
  font-size:        1.2rem;
  margin:           0 0 2.5em 0;
  padding:          0.6em 0;
  color:            $col-inputtext;
  background-color: $col-background;
  border:           2px solid $col-inputborder;
  border-width:     0 0 2px 0;
  width:            100%;

  &:focus{
    outline:        none;
    border-color:   $cl-orange;
  }

}
