<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>:: SUS Questionnaire :: #UXtools</title>
</head>
<body>

  <h1>System Usability Scale Questionnaire</h1>

  <%- include('_partials/_setup'); %>
  <%- include('_partials/_respond'); %>

</body>
</html>
