<div id="page--results" class="page results">

    <h1 class="results__heading"><span>Title</span> results</h1>

    <div class="results__card">

        <section class="results__score">
            <h2 class="results__category">Average score</h2>
            <p class="results__hero">86</p>
        </section>

        <section class="results__grade">
            <h2 class="results__category">Grade:</h2>
            <p class="results__hero">B+</p>
            <p class="results__gradetext">This means this and that</p>
        </section>

    </div>

    <section class="results__responses">
        <h3 class="results__category">All responses:</h3>

        <div class="responses">
            <div class="responses__row responses__row--head">
                <div class="responses__cell responses__cell--q">Question \ User</div>
                <div class="responses__cell">#1</div>
                <div class="responses__cell">#2</div>
                <div class="responses__cell">#3</div>
                <div class="responses__cell">#4</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I think that I would like to use this system frequently</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I found the system unnecessarily complex</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I thought the system was easy to use</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I think that I would need the support of a technical person to be able to use this system</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I found the various functions in this system were well integrated</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I thought there was too much inconsistency in this system</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I would imagine that most people would learn to use this system very quickly</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I found the system very cumbersome to use</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I felt very confident using the system</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
            <div class="responses__row">
                <div class="responses__cell responses__cell--q">I needed to learn a lot of things before I could get going with this system</div>
                <div class="responses__cell">2</div>
                <div class="responses__cell">3</div>
                <div class="responses__cell">1</div>
                <div class="responses__cell">5</div>
            </div>
        </div>
        
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>

</div>