<div id="page--respond" class="page respond">

  <%- include('_headbar'); %>

  <div class="respond__intro question">
    <h1 class="question__questiontext">What's your name?</h1>
    <input type="text" name="response--name" id="response--name" placeholder="Name">
    <a href="#" id="btn--respond" class="button">Get started</a>
  </div>

  <div class="respond__questions">

    <% for(var slug in public.questions._data){ %>
      <%- include("../questions/_question", { title: public.questions._data[slug].question, index: slug }) %>
    <% }; %>

  </div>

  <div class="respond__send question">
    <h1 class="question__questiontext">Ready to send?</h1>
    <p>You can scroll and review your answers if you want to.
      Press send when you are ready.</p>
    <a href="#" id="btn--send" class="button">Send!</a>
  </div>

</div>
