<div id="page--setup" class="setup">

  <h1>S.U.S. Questionnaire</h1>

  <p>The System Usability Scale (SUS) is an inexpensive, yet effective tool for
    assessing the usability of a product, including Web sites, cell phones, interactive
    voice response systems, TV applications, and more. It provides an easy-to-understand
    score from 0 (negative) to 100 (positive).</p>

  <h2>Get started</h2>

  <label for="input--title">What are you testing?
    <span id="input--title--error" class="input__message"></span></label>
  <input type="text" class="input" name="input--title" id="input--title" placeholder="Title"><br>

  <label for="input--email">Where should we send the responses?
    <span id="input--email--error" class="input__message"></span></label>
  <input type="text" class="input" name="input--email" id="input--email" placeholder="your@email.com"><br>

  <a href="#" id="btn--start" class="button">Start!</a>

</div>
