<div id="page--setup" class="setup">

  Questionnaire title:
  <input type="text" name="input--title" id="input--title">
  Send response to this mail:
  <input type="text" name="input--email" id="input--email">
  <a href="#">Start!</a>

</div>
