.footer{
    background:     linear-gradient(rgba($col-background, 0), rgba($col-background, 0.7), rgba($col-background, 1));
    bottom:         0;
    color:          $col-darktext;
    left:           0;
    height:         3em;
    position:       fixed;
    text-align:     right;
    width:          100%;
    z-index:        $zi-floats;

    a{
        text-decoration: none;
        color:           $cl-glorange;

        &:hover{
            color: $cl-white;
        }
    }
}