.page{

  max-width: 65em;
  margin:    0 auto;

  @media (max-width: $bp-large)   { max-width: 58em; }
  @media (max-width: $bp-medium)  { max-width: 46em; }
  @media (max-width: $bp-small)   { max-width: 75%; }
  @media (max-width: $bp-minimum) { max-width: 80%; }

}
