.page{

  max-width: 65em;
  margin: 0 auto;

  @media (max-width: $bp-large)   { max-width: 58em; }
  @media (max-width: $bp-medium)  { max-width: 46em; }
  @media (max-width: $bp-small)   { margin: 2.5em 4em; }
  @media (max-width: $bp-minimum) { margin: 2.5em 2em; }

}
