body{

  font-size:         16px;
  font-family:       $ft-fonts;
  color:             $col-text;
  background-color:  $col-background;
  margin:            0;

}

h1, h2, h3, h4, h5, h6 {
  font-weight:       600;
  color:             $col-titles;
}

h1{
  font-size:       3em;

  @media (max-width: $bp-medium) {
    font-size: 2.25em;
  }
}

p{
  font-size:       1.2em;
  line-height:     1.5em;
  margin:          0.5em 0 0 0;
}
