// common elements to be reused

label{
  text-transform:  uppercase;
  display:         block;
  font-size:       1rem;
  letter-spacing:  0.02em;
  margin:          0.25em 0 0.5em 0;
}

.input{

  &__message{
    text-transform: none;
    color: $cl-orange;
    padding-left: 1em;
  }

  &--error{
    border-color: red !important;
  }

}
