// common elements to be reused

a.button{

  // general height:
  $btn-height:      0.4em;

  font-weight:      bold;
  text-decoration:  none;
  text-transform:   uppercase;
  letter-spacing:   0.15em;
  color:            $col-actions;

  box-sizing:   border-box;
  margin:       0 $btn-height $btn-height 0;
  padding:      0.75em 1em;
  border:       2px solid $col-actions;
  display:      inline-block;
  box-shadow:   $btn-height $btn-height 0 0 $col-actions;
  transition:   background-color 0.25s;
  cursor:       pointer;

  &:hover{
    background-color: rgb(20,40,60);
  }

  &:active{
    margin:        $btn-height 0 0 $btn-height;
    box-shadow:    0 0 0 0 $col-actions;
  }

}

label{
  text-transform:  uppercase;
  display:         block;
  font-size:       1rem;
  letter-spacing:  0.02em;
  margin:          0.25em 0 0.5em 0;
}

.input{

  &__message{
    text-transform: none;
    color: $cl-orange;
    padding-left: 1em;
  }

  &--error{
    border-color: red !important;
  }

}

input[type="text"]{
  font-size:        1.2rem;
  margin:           0 0 2.5em 0;
  padding:          0.6em 0;
  color:            $col-inputtext;
  background-color: $col-background;
  border:           2px solid $col-inputborder;
  border-width:     0 0 2px 0;
  width:            100%;

  &:focus{
    outline:        none;
    border-color:   $cl-orange;
  }

}
