// app status

body.status{

  &--setup{
    & #page--setup{display: inline;}
    & #page--respond{display: none;}
  }

  &--respond{
    & #page--setup{display: none;}
    & #page--respond{display: inline;}
  }

}
