/* Global style variables */

// Colors by name
$cl-darkblue:   #20242a;
$cl-blue:       #192b4c;
$cl-skyblue:    #CDE8F8;
$cl-aqua:       #30D0AE;
$cl-white:      #FAFAFA;
$cl-lightgray:  #aab2bf;
$cl-darkgray:   #656d7b;
$cl-orange:     #FB8F41;
$cl-glorange:   #f60;

// Colors by function
$col-background:   $cl-darkblue;
$col-titles:       $cl-skyblue;
$col-text:         $cl-lightgray;
$col-darktext:     $cl-darkgray;
$col-actions:      $cl-orange;

$col-inputbg:      $cl-blue;
$col-inputborder:  $cl-skyblue;
$col-inputtext:    $cl-white;

// Fonts
$ft-fonts:     'Work Sans', Helvetica, sans-serif;

// Spacings
$content-width:    70em; // max width for all content

// Media query breakpoints
$bp-large:      75em;
$bp-medium:     62em;
$bp-small:      48em;
$bp-minimum:    36em;

// Z-index
$zi-floats:     10;
$zi-bottom:     -5;

// Borders
$br-common:     1pt solid $col-text;
