/* Global style variables */

// Colors by name
$cl-darkblue:   #20242a;
$cl-blue:       #192b4c;
$cl-skyblue:    #CDE8F8;
$cl-aqua:       #30D0AE;
$cl-white:      #FAFAFA;
$cl-lightgray:  #aab2bf;
$cl-orange:     #FB8F41;

// Colors by function
$col-background:   $cl-darkblue;
$col-titles:       $cl-skyblue;
$col-text:         $cl-lightgray;
$col-actions:      $cl-orange;

$col-inputbg:      $cl-blue;
$col-inputborder:  $cl-skyblue;
$col-inputtext:    $cl-white;

// Fonts
$ft-fonts:     'Fira Sans', Helvetica, sans-serif;

// Spacings
$column-width:     65%; // max witdh for full column text
