<article class="question">

  <h1 class="question__questiontext"><%- title %></h1>

  <div class="question__responses">

    <p class="question__reference">Completely disagree</p>

    <div class="question__scale">
      <div class="question__scale">
        <input type="radio" name="q1" id="q1">
        <input type="radio" name="q1" id="q1">
        <input type="radio" name="q1" id="q1">
        <input type="radio" name="q1" id="q1">
        <input type="radio" name="q1" id="q1">
      </div>
    </div>

    <p class="question__reference">Completely agree</p>

  </div>

</article>
